@model PolinitKartSistemi.Areas.Yonetici.Models.FirmaIletisimViewModel

@{

    Layout = "~/Areas/Yonetici/Views/Shared/_YoneticiLayout.cshtml";
}
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/js/jquery.maskedinput.min.js"></script>
<link href="~/css/bootstrap.min.css" rel="stylesheet" />

<style>
    .form-control {
        width: 700px;
    }
</style>
@section Menu{

    <ul class="sidebar-menu">
    <li class="">
        @Html.ActionLink("Firma Tanımla", "FirmaTanimla", "Yonetici")
    </li>

</ul>
}


@using (Html.BeginForm("FirmaTanimla", "Yonetici", FormMethod.Post, new { @class = "form-group" }))
{
    <fieldset>
        <div class="form-group" style="margin-top:40px">

            <h1>@TempData["Admin"]</h1>
            <label class="col-sm-2 control-label">Firma Adı</label>
            <div class="col-sm-10" style="margin-bottom:20px">
                @Html.TextBoxFor(model => model.FirmaAdi, new { @class = "form-control", placeholder = "Firma Adı", id = "txtAd", required = "required" })
            </div>

            <label class="col-sm-2 control-label">Firma Kullanıcı Adı</label>
            <div class="col-sm-10" style="margin-bottom:20px">
                @Html.TextBoxFor(model => model.KullaniciAdi, new { @class = "form-control", placeholder = "Firma Kullanıcı Adı", required = "required" })
            </div>

            <label class="col-sm-2 control-label">Şifre</label>
            <div class="col-sm-10" style="margin-bottom:20px">
                @Html.TextBoxFor(model => model.Sifre, new { @class = "form-control", placeholder = "Şifre", required = "required" })
            </div>

            <label class="col-sm-2 control-label">Telefon Numarası</label>
            <div class="col-sm-10" style="margin-bottom:20px">
                @Html.TextBoxFor(model => model.Telefon, new { @class = "form-control", placeholder = "5553332211", required = "required", id = "txtTel", maxlength = "10", minlength = "10" })
            </div>

            <label class="col-sm-2 control-label">Adres</label>
            <div class="col-sm-10" style="margin-bottom:20px">
                @Html.TextBoxFor(model => model.Adres, new { @class = "form-control", placeholder = "Adres", required = "required" })
            </div>

            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10" style="margin-bottom:20px">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "ornek@polinit.com", required = "required", id = "email", maxlength = "50", type = "email" })
            </div>

            <label class="col-sm-2 control-label">Şehir Adı</label>
            <div class="col-sm-10" style="margin-bottom:20px">
                @Html.TextBoxFor(model => model.SehirAdi, new { @class = "form-control", placeholder = "Şehir Adı", required = "required" })
            </div>

            <label class="col-sm-2 control-label">İlçe Adı</label>
            <div class="col-sm-10" style="margin-bottom:20px">
                @Html.TextBoxFor(model => model.IlceAdi, new { @class = "form-control", placeholder = "İlçe Adı", required = "required" })
            </div>

            <label class="col-sm-2 control-label">Kart başlangıç numarası</label>
            <div class="col-sm-10" style="margin-bottom:20px">
                @Html.TextBoxFor(model => model.KartBaslangicNo, new { @class = "form-control", placeholder = "Kart başlangıç numarası",id="txtKartNo", required = "required"  })
            </div>

            <label class="col-sm-2 control-label">Kart Adedi</label>
            <div class="col-sm-10" style="margin-bottom:20px">
                @Html.TextBoxFor(model => model.KartAdedi, new { @class = "form-control", placeholder = "Kart Adedi", type = "number", required = "required"})
            </div>

            <label class="col-sm-2 control-label">Firma Puan Yüzdesi</label>
            <div class="col-sm-10" style="margin-bottom:20px">
                @Html.TextBoxFor(model => model.BirimPuan, new { @class = "form-control", placeholder = "Firma Puan Yüzdesi", id = "txtBirimFiyat" })
            </div>

            <div class="col-sm-4 col-sm-offset-2">
                <input class="form-control btn btn-primary" type="submit" value="Kaydet" />
            </div>
        </div>
    </fieldset>
    if (ViewBag.Sonuc != null)
    {
        <div class="alert alert-@ViewBag.Sonuc">
            <span class="@ViewBag.Icon"></span>
            @ViewBag.Mesaj

        </div>

    }
}
<script type="text/javascript">
    $("#txtTel").mask("(999) 999-9999");
    $("#txtKartNo").mask("9999");
    $("#txtBirimFiyat").mask("9,999");
</script>